<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="_css/style.less">
    <title>História</title>
</head>
<body>
    
    <h1>História</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora neque eaque ex! Distinctio quas modi sequi, labore laboriosam possimus recusandae minus, in perferendis et unde? Iure tempora libero magni molestias?
    </p>

    <a href="/less">Index</a>

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>