

<footer class="footer">
    <div class="footer_container">
        <section class="section_about">
            <h2><span class="tituloFooter">Sobre</span></h2>
            <p class="footer_about-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam doloribus ea blanditiis ipsa sed. Distinctio, optio quod, harum adipisci officiis nostrum minima sint explicabo, rerum asperiores quidem ex tempore! Nobis.
            </p>
        </section>
        <address>
            <h2><span class="tituloFooter">Contato</span></h2>
            <ul>
                <li class="list_item">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="fa-solid">email@email.com</span> 
                </li>
                <li class="list_item">
                    <i class="fa-solid fa-phone"></i> 
                    <span class="fa-solid">(00) 0000-0000</span>
                </li>
                <li class="list_item">
                    <i class="fa-solid fa-brands fa-whatsapp"></i>
                    <span class="fa-solid">(00) 0 0000-0000</span>
                </li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
