/* html {
    color: #ff0000;
    background-color: #000;
    background-image: url(./Copo.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
} */

main {
    font-family: sans-serif;
    font-size: 1rem;
}

main p {
    text-indent: 2rem;
    text-align: start;
        
}

a {
    color: red;
    cursor:pointer;
}

a:active {
    color: green;
    cursor:pointer;
}
    