<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="_css/style.css">
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="icon" type="imagem/png" href="icon-384x384.png">
    <link rel="apple-touch-icon" type="imagem/png" href="icon-384x384.png">
    <link rel="shortcut icon" type="imagem/png" href="icon-384x384.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Home</h1>

    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="#">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quae totam autem libero atque nesciunt hic. Unde accusamus harum provident maiores, hic officiis, quis exercitationem quae perspiciatis, natus eos vitae.
    </p>
    <h2>
        Teste título
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dignissimos nobis ipsa commodi, dolor excepturi sint doloribus quod cumque. Consequatur fugit obcaecati explicabo? Aut in nihil beatae earum similique? Sequi.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quae totam autem libero atque nesciunt hic. Unde accusamus harum provident maiores, hic officiis, quis exercitationem quae perspiciatis, natus eos vitae.
    </p>
    <h2>
        Teste título
    </h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quae totam autem libero atque nesciunt hic. Unde accusamus harum provident maiores, hic officiis, quis exercitationem quae perspiciatis, natus eos vitae.
    </p>
    <h2>
        Teste título
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, error nihil, eveniet cumque cupiditate officia neque maiores dignissimos quis, quos corrupti nesciunt! Quas minima, labore iste eos minus ut nisi.
    </p>

    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('generate-sw.js');
        }
    </script>
</body>
</html>