<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Segundo Componente" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes - C3" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two Way Data Binding - C4" cor="#F2D096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando Listas - C5" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componente Personalizado - C6" cor="#FFE3DC">
    <app-componente-personalizado nome="Sérgio" sobrenome="Medeiros"></app-componente-personalizado>
    <app-componente-personalizado nome="João" sobrenome="Silva"></app-componente-personalizado>
</app-card>
<app-card titulo="Componente Pai - C7" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Servicos - C8" cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Ciclo de Vida - C9" cor="#1e81b0">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
